  body{
/*    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;*/
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4
  }

  /*Global*/
  .container{
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  /*all ul's have no padding*/
  ul{
    padding: 0;
    margin: 0;
  }

  /*makes the subscribe button work*/
  .button_1{
    height: 30px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
  }

  .dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /*header itself*/
  header{
    background:#35424a;
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
  }

  /*deals with hyperlink*/
    header a{
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
    }

    /*header list menu into horizontal and undordered bullets*/
    header li{
      float: left;
      display: inline;
      /*top right bottom left,*/
      padding: 0 20px 0 20px;
    }

    /*moving the header objects to the right*/
    header #symbol{
      float: left;
    }
    header #logo{
      float: left;
    }

    header #logo h1{
      margin: -5px;
      padding-left: 10px;
    }

    header nav{
      float: right;
      margin-top: 10px;
    }

    header .highlight, header .current a{ /*this is where the word innov8rz go*/
      font-weight: bold;
      color: #e8491d; /*change color soon!*/
    }

    header a:hover{
      color:#cccccc;
      font-weight: bold;
    }

    /*showcase aka the big picture*/
    #showcase{
      min-height:  950px;
      background: url("../img/Innov8rzWEDOpicture.jpg") no-repeat -80px -280px;
      text-align: center;
      color: #ffffff;
    }
    /*change font and size*/
    #showcase h1{
      margin-top: 5px;
      font-size: 50px;
      margin-bottom: 10px;
    }

    #showcase p{
      font-size: 20px;
    }

    /*now for the newsletter*/
    #newsletter{
      padding: 15px;/*padding all around*/
      color: #ffffff;
      background: #15424a
    }

    #newsletter h1{
      float: left;
    }

    #newsletter form{
      float: right;
      margin-top: 15px;
    }

    /*making the subscribe email button aka newsletter*/
    #newsletter input[type= "text"]{
      padding: 4px;
      height: 25px;
      width: 250px;
    }

    /*boxex*/
    #boxes{
      margin-top: 20px;
    }

    #boxes .box{
      float: left;
      text-align: left;
      width: 30%;
      padding: 10px;
    }

    #boxes .box img{
      width: 150px;
    }

    /*sidebar*/
    aside#sidebars{
      float: right;
      width: 30%;
      margin-top: 20px;
    }

    /*quote bar*/
    aside#sidebars .quote input, aside#sidebars .quote textarea{
      width: 90%;
      padding: 5px;
    }

    /*main-col*/
    article#main-col{
      float: left;
      width: 65%;
    }

    /*Services*/
    ul#services li{
      list-style: none;
      padding: 20px;
      border: #cccccc solid 1px;
      margin-bottom: 5px;
      background: #e6e6e6;
    }

    /*footer*/
    footer{
      padding: 20px;
      margin-top: 10px;
      color: #ffffff;
      background-color: #e8491d;
      text-align: center;
    }

    /*media quaries, only affected when screen is at 768 or less*/
    @media(max-width: 768px){
      /*body{
        display:none;
      } It's a self distruct*/

      /*we want to get rid of floats because we want them stacked on top of each other*/
      header #logo,
      header nav,
      header nav li,
      #newsletter h1,
      #newsletter form,
      #boxes .box,
      article#main-col,
      aside#sidebars{
        float: none;
        text-align: center;
        width: 100%;
      }

      header{
        padding-bottom: 20px;
      }

      #showcase h1{
        margin-top: 15px;
      }

      #newsletter button, .quote button{
        display: block;
        width: 100%
      }

      #newsletter form input[type="email"], .quote input, .quote textarea{
        width: 100%;
        margin-bottom: 5px;
      }
    }
